/* ----- Global flex classes ----- */
.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-col-responsive {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

/* ------ Global font classes ------- */
/* font color white */
.font-color {
  color: #f2f2f2;
}
/* h1 font - google fonts */
.header-font {
  font-family: "Orbitron", sans-serif;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* -------- Global nav classes-------- */
.nav {
  display: flex;
  background-color: #333;
}
/* Navbar links - float: left removed, replaced with display: inline-flex;
  flex-direction: row;*/
.nav a {
  display: inline-flex;
  flex-direction: row;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Links - change color on hover */
.nav a:hover,
.link:hover {
  background-color: #ddd;
  color: black;
}

.link {
  color: lightskyblue;
}
/* ------- Global background colors------- */
/*background color for each section*/
.background-color-main {
  background-color: olivedrab;
}

.section-background-color {
  background-color: rgba(77, 73, 73, 0.803);
}
/* child elements background color */
.child-background {
  background-color: black;
}

/* ------- Global borders ------- */
/* child elements border */
.child-border {
  border: 1px solid white;
  border-radius: 10px;
}
/* generic thick border */
.thick-border {
  border: 5px solid;
}
/* genaric border */
.bordered-area {
  border: 1px solid;
  margin: 5px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.173);
}

/* ---- Gloabl header ---- */
.header {
  text-align: center;
  padding: 20px;
}

.center-header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}

/* ------- Global spaceing, positoning, sizing -------- */
.box-sizing {
  box-sizing: border-box;
}

.bottom-space {
  margin-bottom: 200px;
}

.margin {
  margin: 15px;
}

.margin-left {
  margin-left: 30px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.padding-10 {
  padding: 10px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.button-position {
  position: fixed;
  bottom: 0;
  left: 0;
}

/* -----Global responsive media------  */
/* view ports <= 700px do this */
@media screen and (max-width: 700px) {
  .nav {
    flex-direction: column;
  }
  .nav a {
    border: solid 1px black;
  }
}
/* view ports <= 940px do this */
@media screen and (max-width: 940px) {
  .d-flex {
    flex-direction: column;
    align-content: space-around;
    margin: 10px;
    box-sizing: border-box;
  }
  .header-img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .sign-up-textbox {
    display: flex;
    justify-content:center;
  }
}
/* view ports <= 425px do this */
@media screen and (max-width: 425px) {
  .sign-up-textbox {
    display: flex;
    flex-direction: column;
  }
}
/* view ports >= 1050px do this */
@media screen and (min-width: 1050px) {
  .sign-up-textbox {
    display: flex;
    flex-direction: column;
  }
}
/* view ports >= 1350px do this */
@media screen and (min-width: 1350px) {
  .section-space-evenly {
    justify-content: space-evenly;
  }
}
/* ---- Global *** ---- */

.box-shadow {
  box-shadow: 10px 10px 5px rgb(63, 86, 94);
}
