/* Keep in mind in the future, mobile first design is key here, but for now we are learning the basics*/
/* mobile first = media queries -
(@media () {
 
} */

.discord-link:hover {
  text-decoration-color: limegreen;
}

/* table classes */
table,
th,
td {
  border: 1px solid;
}

.table-hover tr:not(:first-child):hover {
  background-color: #4b4b4b;
}
/* summary border */
.summary {
  margin: 10px;
  border: 1px solid;
  padding: auto;
}

/* ------img's------- */
/* main img position */
.header-img {
  max-width: 500px;
  min-width: 250px;
  height: inherit;
  padding-bottom: 5px;
}
.center-header-img {
  display: flex;
  justify-content: center;
}

/* buttons */
.sign-up-button {
  background-color: rgb(0, 166, 255);
  border-color: black;
  color: white;
  border-radius: 25px;
}

button:hover {
  background-color: #ddd;
  color: black;
}

.prefill {
  background-color: gray;
  opacity: 35;
}

.table-size {
  min-width: 250px;
  max-width: 800px;
  height: 150px;
}

/* examples */
/* .flex-col-responsive {
  flex-direction: column;
}

@media screen and (min-width: 940px) {
  .flex-col-responsive {
    flex-direction: row;
  }
} */
